name: Push base-alpine to docker.io multiarch

on:
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
          registry: docker.io
          username: ${{ secrets.DHUB_USER }}
          password: ${{ secrets.DHUB_TOKEN }}

    - name: Set release tag as image tag
      id: set-tag
    #   run: echo "TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      run: |
       echo "TAG=latest" >> $GITHUB_ENV

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Docker/alpine-base.dockerfile
        platforms: linux/amd64,linux/arm64,linux/arm/v7
        push: true
        cache-from: type=gha
        cache-to: type=gha,mode=max
        tags: |
          kmyuhkyuk/cronicle-base-alpine:${{ env.TAG }}
